
  .btn-calc {
    @apply p-2 rounded-lg text-xl font-semibold bg-gray-100 hover:bg-gray-300 transition duration-200;
    position: relative;
    overflow: hidden;
  }
  @keyframes ripple-effect {
    0% {
      background: #f3f4f6;
    }
    100% {
      background: #DDDDE020;
    }
  }

  .ripple {
    background: #f3f4f6;
    animation: ripple-effect 0.25s ease-out;
}

